#root {
  display: flex; 
  flex-direction: column;
  width: 100vw; 
  height: 100vh; 
  text-align: center;
  background-color: #FFFAFA;
  justify-content: center;
  align-items: center;
}

.app-page {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  gap: 16px; 
}

button {
  border-radius: 8px;
  color: #FFFFFC;
  background-color: #C1CCB6;
}

.nav-buttons {
  display: flex; 
  flex-direction: row; 
  gap: 16px;  
}

.next-button {
  width: 200px;
  height: 80px; 
}

.answer-section {
  display: flex; 
  flex-direction: row; 
  gap: 16px; 
}

h1 {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 2.25rem;
}

h2 {
  font-family: "Outfit";
  font-weight: 600;
  font-size: 1.5rem;
}

p {
  font-family: "Outfit";
  font-weight: 400; 
  font-size: 1.25rem;
}